.ui-button .ui-icon.ui-wysiwyg-icon-italic { background-position: -62px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-bold { background-position: -2px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-underline { background-position: -143px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-strike { background-position: -122px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-hr { background-position: -360px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-ol { background-position: -82px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-ul { background-position: -20px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-center { background-position: -422px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-full { background-position: -442px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-left { background-position: -462px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-right { background-position: -482px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-link { background-position: -502px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-unlink { background-position: -642px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-indent { background-position: -402px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-outdent { background-position: -542px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-superscript { background-position: -622px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-subscript { background-position: -602px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-image { background-position: -382px 0; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-removeformat { background-position: -582px 0; background-image: url('../images/icons.png'); }

.ui-button .ui-icon.ui-wysiwyg-icon-bgc { background-position: -760px 2px; background-image: url('../images/icons.png'); }
.ui-button .ui-icon.ui-wysiwyg-icon-fontc { background-position: -962px -20px; background-image: url('../images/icons.png'); }
